
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
        <div class="branding"><img [src]="logo" />
          <span> 'hackers news'</span></div>
     </mat-sidenav>
    
      <div class="toolbar">
        <mat-toolbar color="primary">
      
          <mat-toolbar-row>
            <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
              <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
            </button>
    
            <span routerLink="" class="branding spacer center d-inline d-sm-none">
              <img [src]="logo" /></span>
            <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" /> {{
              'hackers news'  }}</span>
            <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo" />hackers news</span>
    
            <span class="d-none d-md-inline">
              <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
                routerLinkActive="active">
                {{item.label }}
              </button>
            </span>
    
           
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    
  

  <div class="wrapper">
    <div id="top"></div>
    <div class="content" >

      <router-outlet></router-outlet>
   
     
    
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
            <span>Facebook</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
            <span>Medium</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
            <span>Twitter</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-youtube"></mat-icon>
            <span>Youtube</span>
          </a>
          <a href="#" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-instagram"></mat-icon>
            <span>Instagram</span>
          </a>
          <a href="/sss" target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-play-circle"></mat-icon>
            <span>Slides</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; <span class="year">2019</span> - Iurii Samoshkin
          <br class="d-block d-sm-none">
    
        
        </div>
      </div>
    </div>

  </div>
  

</mat-sidenav-container>

